/*
18.6 7:00AM - 8:00AM (1h) https://www.youtube.com/watch?v=NDNRGW-_1EE&ab_channel=KevinPowell
18.6 8:00AM - 10:00AM (2h) https://www.youtube.com/watch?v=flItyHiDm7E&ab_channel=codefoxx


*/




/* Menu */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: sienna;
}

li{
    list-style: none;
}

a{
    color: salmon;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2em;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: snow;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: skyblue;
}

@media(max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: slategrey;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        right:0;
    }
}

/* Body */
.id{
    font-size: 0.5em;
    color: grey;
}

h1{
    font-size: 1.5em;
    color: sienna;
    text-decoration: none;
}

.title{
    font-size: 1.5em;
    color: salmon;
    text-decoration: none;
}

.body{
    color: sandybrown;
}



