{% extends "layout.html" %}

{% block body %}
        <h1>Prihlásenie</h1>
        <form action="/" method="post">
            <input autocomplete="on" autofocus name="name" placeholder="Meno" type="text">
            <input type="submit" value="Prihlásenie">
        </form>

        <script>
            document.querySelector('form').onsubmit = function() {
                if (!document.querySelector('input').value) {
                    alert("Zadajte meno!");
                    return false;
                }
                return true;
            };
        </script>
{% endblock %}